@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

// Primary text colour for headings --> #454798
// Primary text colour for p --> #282955

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;

  &.container--sm {
    max-width: 800px;
  }
}

.content {
  h1, h2, h3 {
    margin-top: 48px;
  }

  p {
    margin-bottom: 24px;
  }
}

.section {
  padding: 24px 0;
}

.section--bg {
  padding: 48px 0;
}

h1,
.h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #454798;
  margin-bottom: 24px;

  @media (max-width: 767px) {
    font-size: 30px;
    line-height: 40px;
  }

  &.h1--big {
    font-size: 80px;
    line-height: 90px;

    @media (max-width: 767px) {
      font-size: 48px;
      line-height: 60px;
    }
  }
}

h2,
.h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  color: #454798;
  margin-bottom: 12px;

  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 25px;
  }
}

h3,
.h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #454798;
  margin-bottom: 12px;
}

h4,
.h4 {
  color: #454798;
  margin-bottom: 12px;
}

p,
.p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #282955;
  margin-bottom: 12px;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text--lg {
  font-size: 24px;
  line-height: 32px;

  @media (max-width: 767px) {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  p {
    font-size: 24px;
    line-height: 32px;

    @media (max-width: 767px) {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  ul {
    li {
      &::before {
        left: 0;
        top: 5px;
      }
    }
  }
}

a,
.a {
  color: #5557cd;
  text-decoration: none;
}

ol {
  margin-bottom: 2rem;
  margin-left: 0;
  margin-top: 0;
  padding: 0;
  counter-reset: item;

  li {
    counter-reset: item;
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    color: #282955;

    &::before {
      content: ' 'counter(item)'. ';
      position: absolute;
      font-weight: 500;
      left: 0;
      top: 0;
    }
  }
}

ul {
  margin-bottom: 24px;
  margin-left: 0;
  margin-top: 0;
  padding: 0;

  li {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 12px;
    font-size: 18px;
    color: #282955;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::before {
      content: '•';
      position: absolute;
      left: 0;
      top: 0;
      color: #282955;
      font-size: 35px;
      line-height: 16px;
    }
  }
}

.tags-section {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;

  p {
    margin-right: 6px !important;
  }
}

.single-tag {
  padding: 4px 6px;
  font-size: 14px;
  border-radius: 4px;
  background: #5557cd;
  margin-right: 6px;
  color: white;
  margin-bottom: 6px;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
}